<td id="editColumn">
    <i id="save" class="far fa-save" style="display: none" onclick="save(this)"></i>
    <i id="edit" class="far fa-edit" onclick="edit(this)"></i>
    <i id="cancel" class="fas fa-ban" style="display: none" onclick="cancel(this)"></i>
    <i id="delete" class="fa fa-trash" onclick="deleteEntity(this)"></i>
</td>